body,
html {
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9cb8e2e1;
  border-radius: 8px;
}

.signup-form {
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #9cb8e281;
  border: 2px solid black;
}

#email1,
#password1,
#text1 {
  border: 2px solid rgba(0, 0, 0, 0.63);
}

#password2{
  border: 2px solid rgba(0, 0, 0, 0.63);
}